@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    background-color: #232323;
    color: #fff;
    overflow: auto;
    border-bottom: 3px solid rgb(62, 238, 179);
    padding: 30px 0 30px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.navbar {
    list-style: none;
    float: right;

}

.logo {
    margin: 0;
    float: left;
    padding-top: 5px;
}

.navbar li {
    float: left;
    margin-left: 10px; 
    text-transform: uppercase;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.destaque {
    color: rgb(62, 238, 179);
}


/* BANNNER */

.banner {
    text-align: center;
    background: rgb(207, 207, 207) url(../img/banner-about-us.jpeg) no-repeat fixed;
    background-size: cover;
    height: 400px;
}

.banner h1 {
    margin: 0;
    font-size: 50px;
    padding-top: 150px;
}

.banner h3 {
    color: #646464;
    margin-bottom: 5px;
}

.banner h5 {
    color: #646464;
    margin-top: 0;
}

.barra {
    background-color: #232323;
    height: 80px;
}

/* HISTORIA */

.box-about {
    overflow: auto;
    margin-top: 50px;
}

.history-img {
    height: 425px;
    width: 95%;
    margin-left: 2%;
    background: url(../img/empresa.jpg) no-repeat fixed;
}

.history {
    background-color: rgb(255, 255, 255);
    margin-top: 270px;
    width: 60%;
    padding-left: 15px;
    float: right;
}

/* PRODUTOS */

.box {
    overflow: auto;
    margin-top: 50px;
}

.box-product {
    text-align: center;
}

.box img {
    height: 100px;
}

/*EQUIPE*/

.box-team {
    overflow: auto;
    margin-top: 30px;
}

.team {
    text-align: center;
}

.box-team img {
    height: 200px;
}

.box-item {
    float: left;
    text-align: center;
    width: 27%;
    padding: 3%;
}

/*CLIENTES*/

.box-clients {
    overflow: auto;
    margin-top: 30px;
}

.clients {
    text-align: center;
    width: 90%;
    padding: 0 8%;
}

.box-clients img {
    height: 70px;
    float: left;
    padding-right: 50px;
    margin: 50px 0;
}   

/*FOOTER*/

.footer {
   text-align: center;
   background-color: rgb(62, 238, 179);
   height: 90px
}

.footer h4 {
    margin: 0;
    font-weight: 100;
    color: #fff;
    padding-top: 40px;
    cursor: pointer;
}

.footer a {
    text-decoration: none;
    color: #fff;
}