@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    background-color: #232323;
    color: #fff;
    overflow: auto;
    border-bottom: 3px solid rgb(62, 238, 179);
    /* border: espessura, estilo, cor */
    padding: 30px 0 30px 0;
    /* padding: acima direita abaixo esquerda */
}

.container {
    width: 80%;
    margin: auto;
}

.navbar {
    list-style: none;
    float: right;

}

.logo {
    margin: 0;
    float: left;
    padding-top: 5px;
}

.navbar li {
    float: left;
    margin-left: 10px; 
    text-transform: uppercase;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.destaque {
    color: rgb(62, 238, 179);
}

/* BANNNER */

.banner {
    text-align: center;
    background: rgb(207, 207, 207) url(../img/banner-fundo.jpg) no-repeat fixed;
    /* background-color: rgb(207, 207, 207);
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat; */
    background-size: cover;
    height: 400px;
}

.banner h1 {
    margin: 0;
    font-size: 50px;
    padding-top: 150px;
}

.banner h3 {
    color: #646464;
}

/* SAIBA MAIS*/

.saiba-mais button {
    border: 0;
    background-color: rgb(62, 238, 179);
    color: #fff;
    text-transform: uppercase; 
    padding: 10px 30px;
    margin-top: 28px;
    font-family: 'Montserrat', sans-serif;
}

.saiba-mais {
    text-align: center;
    background-color: #232323;
    height: 90px;
}

/* MISSAO VISAO VALORES*/

.box {
    overflow: auto;
}

.box img {
    height: 100px;
    /*por boas práticas sempre mexer na altura*/
}

.box-item {
    float: left;
    text-align: center;
    width: 27%;
    padding: 3%;
}

/*FOOTER*/

.footer {
   text-align: center;
   background-color: rgb(62, 238, 179);
   height: 90px
}

.footer h4 {
    margin: 0;
    font-weight: 100;
    color: #fff;
    padding-top: 40px;
    cursor: pointer;
}

.footer a {
    text-decoration: none;
    color: #fff;
}